# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [26]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [27]:
weather_df = pd.read_csv("../output_data/cities.csv")
weather_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp (F),Wind Speed
0,Qaryat Sulūq,0,LY,1632688884,59,31.6682,20.2521,73.09,11.97
1,Bethel,40,US,1632688884,52,41.3712,-73.4140,71.69,1.01
2,Busselton,80,AU,1632688884,89,-33.6500,115.3333,57.04,14.76
3,Punta Arenas,40,CL,1632688885,53,-53.1500,-70.9167,48.31,18.41
4,Mataura,5,NZ,1632688885,70,-46.1927,168.8643,41.49,2.15
...,...,...,...,...,...,...,...,...,...
577,Harper,100,LR,1632689074,91,4.3750,-7.7169,75.69,7.38
578,Road Town,20,VG,1632688910,62,18.4167,-64.6167,89.64,5.75
579,Baykit,100,RU,1632689075,82,61.6700,96.3700,35.73,8.03
580,Clarence Town,8,AU,1632689075,80,-32.5833,151.7833,54.81,2.04
581,Yumen,45,CN,1632689075,23,40.2833,97.2000,59.07,9.22

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [28]:
#Configure gmaps with API key
gmaps.configure(api_key=g_key)

#Store latitude and longitude in locations
locations = weather_df[['Lat','Lng']].astype(float)

#Store Humidity in a variable to use as the weight for the heatmap
humidity_data = weather_df['Humidity']

In [30]:
#Plot the Heatmap
fig = gmaps.figure(center=(45.0,-4.0), zoom_level=2)

#For max intensity in the heat map, setting it to the highest humidity found in the data set
max_intensity=np.max(humidity_data)

#Create the heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity_data,
                                dissipating=False, max_intensity=100,
                                point_radius=1)

#Add heat layer
fig.add_layer(heat_layer)

#Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [31]:
#Narrow down the cities with max temp between 70 and 80, wind speed less than 10 mph and cloudiness equals to 0
refined_cities_df = weather_df.loc[(weather_df['Max Temp (F)']>=70)&
                                   (weather_df['Max Temp (F)']<=80)&
                                   (weather_df['Wind Speed']<=10)&
                                   (weather_df['Cloudiness']==0)]

In [32]:
#Drop any rows with null values
refined_cities_df=refined_cities_df.dropna()

In [33]:
#Print df
refined_cities_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp (F),Wind Speed
103,Kiryat Gat,0,IL,1632688918,100,31.6100,34.7642,78.91,4.68
201,Quelimane,0,MZ,1632688951,88,-17.8786,36.8883,75.15,4.61
235,Jalu,0,LY,1632688962,34,29.0331,21.5482,75.78,7.27
317,Erzin,0,TR,1632688989,30,36.9559,36.2000,73.00,3.67
460,Sehithwa,0,BW,1632689037,19,-20.4667,22.7167,73.63,6.42
483,Diego de Almagro,0,CL,1632689044,18,-26.3667,-70.0500,79.41,7.00
503,Tabas,0,IR,1632689050,34,33.5959,56.9244,76.82,8.28
551,Bella Union,0,UY,1632689066,60,-30.2752,-57.6007,73.74,6.60
553,Inhambane,0,MZ,1632689066,92,-23.8650,35.3833,71.69,8.50

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [34]:
#Create a dataframe to store only the city, country, lat and lng
hotel_df = refined_cities_df.loc[:,['City','Country','Lat','Lng']]

#Add a "Hotel Name" column to the DataFrame
hotel_df['Hotel Name'] = " "

#Display new DataFrame
hotel_df

                 City Country      Lat      Lng Hotel Name
103        Kiryat Gat      IL  31.6100  34.7642
201         Quelimane      MZ -17.8786  36.8883
235              Jalu      LY  29.0331  21.5482
317             Erzin      TR  36.9559  36.2000
460          Sehithwa      BW -20.4667  22.7167
483  Diego de Almagro      CL -26.3667 -70.0500
503             Tabas      IR  33.5959  56.9244
551       Bella Union      UY -30.2752 -57.6007
553         Inhambane      MZ -23.8650  35.3833

In [35]:
#Set parameters to search for hotels with 5000 meters.
#Hit the Google Places API for each city's coordinates.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "type" : "hotel",
    "keyword":'hotel',
    "radius" : 5000,
    "key" : g_key
}

In [36]:
#use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    #Get city information from df
    lat=row['Lat']
    lng=row['Lng']
    city_name=row['City']
    
    #Add location of cities to params dict
    params['location']= f'{lat},{lng}'
    
    #Assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    #Extract results
    results = response['results']
    
    #Store the first Hotel result into the DataFrame.
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index,'Hotel Name'] = results[0]['name']
        
    #If no hotel found, show missing field
    except (KeyError, IndexError):
        print('Missing field/results...Skipping.')
        
    print('-------------------------------------')
    
print('--------- End of Search ----------')

Retrieving Results for Index 103: Kiryat Gat.
Closest hotel in Kiryat Gat is Desert Gat.
-------------------------------------
Retrieving Results for Index 201: Quelimane.
Closest hotel in Quelimane is Hotel Elite.
-------------------------------------
Retrieving Results for Index 235: Jalu.
Closest hotel in Jalu is Thuraya Tourist Hotel.
-------------------------------------
Retrieving Results for Index 317: Erzin.
Closest hotel in Erzin is Hattusa Vacation Thermal Club Erzin.
-------------------------------------
Retrieving Results for Index 460: Sehithwa.
Closest hotel in Sehithwa is MONLEK GUEST HOUSE.
-------------------------------------
Retrieving Results for Index 483: Diego de Almagro.
Closest hotel in Diego de Almagro is Hotel Panorama.
-------------------------------------
Retrieving Results for Index 503: Tabas.
Closest hotel in Tabas is هتل.
-------------------------------------
Retrieving Results for Index 551: Bella Union.
Closest hotel in Bella Union is Hotel Oriente.
-------------------------------------
Retrieving Results for Index 553: Inhambane.
Closest hotel in Inhambane is Hotel Casa Do Capitão.
-------------------------------------
--------- End of Search ----------

In [37]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [38]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

#Add hotel layer to the heatmap
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))